* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: #3b4664;
  }
  .main-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  h3 {
    color: white;
    font-family: "Inter";
    margin-left: -380px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #fff;
  }
  
  .display-screen {
    border-radius: 12px;
    background-color: #181f32;
    width: 456px;
    height: 100px;
  }
  .display-value {
    background-color: #181f32;
    padding-top: 30px;
    padding-right: 10px;
    color: #fff;
    border-radius: 12px;
    font-family: "Inter";
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
  }
  .keypad {
    width: 456px;
    padding: 10px 0px;
    height: 387px;
    border-radius: 12px;
    background-color: #252d44;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .key1 {
    width: 200px;
    height: 60px;
    border-radius: 12px;
    background-color: #eae3db;
    text-align: center;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b4664;
    cursor: pointer;
  }
  .key {
    border-radius: 12px;
    background-color: #eae3db;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b4664;
    text-align: center;
    font-family: "Inter";
    cursor: pointer;
  }